@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body
{
    font-family: 'Raleway';
    font-weight: 400;
    background-color: #2f3238;
}

/* Thuoc tinh chung */
.container
{
    margin: 100px 40px;
}
.container .first, .container .second
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content 
{
    position: relative;
}
.container h2, .container p
{
    color: white;
    text-transform: uppercase;
}
.content h2
{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    transition-duration: 0.5s;
    transition-property: all;
}
.content h2 span
{
    font-weight: 900;
}
.container p
{
    font-size: 14px;
    transition-duration: 0.5s;
    transition-property: all;
}
.container .border
{
    transition-duration: 0.5s;
    transition-property: all;
}
.first
{
    margin-bottom: 80px;
}

/* Transition 1 */
.first h2, .first p
{
    right: 5%;
    position: absolute;
}
.first .content h2
{
    top: 15%;
}
.first .content p
{
    bottom: 0%;
    opacity: 0;
    
}
.first .border
{
    position: absolute;
    border-bottom: 4px solid black;
    width: 432px;
    height: 50px;
    top: 25%;
    margin-left: 24px;
    opacity: 0;
}
.first .content:hover
{
    cursor: pointer;
}
.first .content:hover h2
{
    top: 5%;
}
.first .content:hover .border
{
    opacity: 1;
    top: 10%;
}
.first .content:hover p
{
    opacity: 1;
    bottom: 15%;
}

/* Transition 2 */

.second h2, .second p
{
    position: absolute;
    left: 12%;
}
.second .content h2
{
    top: 15%;
    transition-duration: 0.5s;
    transition-property: all;
}
.second .content p
{
    top: 50%;
    opacity: 0;
}
.second .border
{
    position: absolute;
    width: 432px;
    height: 130px;
    border: 7px solid #2f3238;
    margin-left: 24px;
    top: 10%;
}
.second .content:hover
{
    cursor: pointer;
}
.second .content:hover .border
{
    top: 50%;
}
.second .content:hover p
{
    top: 70%;
    opacity: 1;
}
