@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins";
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #212529;
  text-align: left;
  overflow-x: hidden;
}

.main {
  overflow-x: hidden;
  width: 100%;
}
.main .same-background {
  background: linear-gradient(134deg, #4728dc, #8230e7);
}
.main .same-background .__nav {
  height: 84px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main .same-background .__nav .content {
  position: absolute;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .same-background .__nav .content .-branch {
  cursor: pointer;
}
.main .same-background .__nav .content .-inner .navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items {
  cursor: pointer;
  padding: 30px 20px;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .nav-link {
  text-decoration: none;
  color: #fff;
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .fa-caret-up {
  color: #fff;
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu {
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
  background-color: #fff;
  list-style: none;
  display: block;
  position: absolute;
  top: 114%;
  left: 0;
  font-size: 13px;
  color: #2c2e30;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu li, .main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu {
  width: 210px;
  padding: 10px;
  height: 39.5px;
  box-sizing: border-box;
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu li .open-sub-menu, .main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .open-sub-menu {
  text-decoration: none;
  color: #212529;
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu li .open-sub-menu .new-icon, .main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .open-sub-menu .new-icon {
  font-size: 10px;
  box-sizing: border-box;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  color: #212529;
  background-color: #ffc107;
  margin-left: 0.5rem !important;
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu li .open-sub-menu .fa-caret-down, .main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .open-sub-menu .fa-caret-down {
  position: absolute;
  left: 90%;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu li .drop-menu-child, .main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .drop-menu-child {
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
  background-color: #fff;
  list-style: none;
  display: block;
  position: absolute;
  left: 100%;
  font-size: 13px;
  color: #2c2e30;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu li .drop-menu-child li, .main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .drop-menu-child li {
  width: 230px;
  padding: 10px;
  height: 39.5px;
  box-sizing: border-box;
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu li .add-1, .main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-1 {
  top: calc(10% + 39.5px);
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu li .add-2, .main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-2 {
  top: calc(10% + 79px);
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu li .add-3, .main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-3 {
  top: calc(10% + 118.5px);
}
.main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu li .add-4, .main .same-background .__nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-4 {
  top: calc(10% + 158px);
}
.main .same-background .__nav .content .-inner .navbar-nav .dropdown:hover .fa-caret-up {
  opacity: 1;
  visibility: visible;
  top: 70%;
}
.main .same-background .__nav .content .-inner .navbar-nav .dropdown:hover .drop-menu {
  top: 84%;
  opacity: 1;
  visibility: visible;
}
.main .same-background .__nav .content .-inner .navbar-nav .dropdown:hover .drop-menu li:hover {
  background-color: #e9ecee;
}
.main .same-background .__nav .content .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .fa-caret-down {
  rotate: -90deg;
}
.main .same-background .__nav .content .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .drop-menu-child {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.main .same-background .__nav .content .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-1 {
  top: calc(0% + 39.5px);
}
.main .same-background .__nav .content .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-2 {
  top: calc(0% + 79px);
}
.main .same-background .__nav .content .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-3 {
  top: calc(0% + 118.5px);
}
.main .same-background .__nav .content .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-4 {
  top: calc(0% + 158px);
}
.main .same-background .nav {
  position: absolute;
  top: -20%;
  height: 84px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}
.main .same-background .nav .content {
  position: absolute;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .same-background .nav .content .-branch {
  cursor: pointer;
}
.main .same-background .nav .content .-inner .navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items {
  cursor: pointer;
  padding: 30px 20px;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items .nav-link {
  text-decoration: none;
  color: #212529;
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu {
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
  background-color: #fff;
  list-style: none;
  display: block;
  position: absolute;
  top: 110%;
  left: 0;
  font-size: 13px;
  color: #2c2e30;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu li, .main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu {
  width: 210px;
  padding: 10px;
  height: 39.5px;
  box-sizing: border-box;
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu li .open-sub-menu, .main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .open-sub-menu {
  text-decoration: none;
  color: #212529;
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu li .open-sub-menu .new-icon, .main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .open-sub-menu .new-icon {
  font-size: 10px;
  box-sizing: border-box;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  color: #212529;
  background-color: #ffc107;
  margin-left: 0.5rem !important;
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu li .open-sub-menu .fa-caret-down, .main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .open-sub-menu .fa-caret-down {
  position: absolute;
  left: 90%;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu li .drop-menu-child, .main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .drop-menu-child {
  opacity: 0;
  visibility: hidden;
  padding-left: 0;
  background-color: #fff;
  list-style: none;
  display: block;
  position: absolute;
  left: 100%;
  font-size: 13px;
  color: #2c2e30;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu li .drop-menu-child li, .main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .drop-menu-child li {
  width: 230px;
  padding: 10px;
  height: 39.5px;
  box-sizing: border-box;
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu li .add-1, .main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-1 {
  top: calc(10% + 39.5px);
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu li .add-2, .main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-2 {
  top: calc(10% + 79px);
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu li .add-3, .main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-3 {
  top: calc(10% + 118.5px);
}
.main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu li .add-4, .main .same-background .nav .content .-inner .navbar-nav .nav-items .drop-menu .sub-menu .add-4 {
  top: calc(10% + 158px);
}
.main .same-background .nav .content .-inner .navbar-nav .dropdown:hover .fa-caret-up {
  opacity: 1;
  visibility: visible;
  top: 70%;
}
.main .same-background .nav .content .-inner .navbar-nav .dropdown:hover .drop-menu {
  top: 84%;
  opacity: 1;
  visibility: visible;
}
.main .same-background .nav .content .-inner .navbar-nav .dropdown:hover .drop-menu li:hover {
  background-color: #e9ecee;
}
.main .same-background .nav .content .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .fa-caret-down {
  rotate: -90deg;
}
.main .same-background .nav .content .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .drop-menu-child {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.main .same-background .nav .content .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-1 {
  top: calc(0% + 39.5px);
}
.main .same-background .nav .content .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-2 {
  top: calc(0% + 79px);
}
.main .same-background .nav .content .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-3 {
  top: calc(0% + 118.5px);
}
.main .same-background .nav .content .-inner .navbar-nav .dropdown .drop-menu .sub-menu:hover .add-4 {
  top: calc(0% + 158px);
}
.main .same-background .home {
  position: relative;
  height: 716px;
  width: 100vw;
  display: flex;
}
.main .same-background .home .content {
  z-index: 1;
  height: 100%;
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.main .same-background .home .content .welcome-intro {
  width: 50%;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 80px;
}
.main .same-background .home .content .welcome-intro .text-white {
  color: #fff;
}
.main .same-background .home .content .welcome-intro h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}
.main .same-background .home .content .welcome-intro p {
  font-size: 16px;
  margin: 24px 0;
}
.main .same-background .home .content .welcome-intro .button-group--store {
  margin-top: 30px;
  display: flex;
}
.main .same-background .home .content .welcome-intro .button-group--store img {
  max-width: 190px;
  cursor: pointer;
}
.main .same-background .home .content .welcome-intro .button-group--store .android {
  margin-right: 10px;
}
.main .same-background .home .content .welcome-intro .notice {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 0;
  font-style: italic;
}
.main .same-background .home .content .app-intro {
  width: 50%;
  padding: 50px 0 15px 0;
  box-sizing: border-box;
  position: relative;
}
.main .same-background .home .content .app-intro img {
  position: absolute;
  animation-name: appear;
  animation-duration: 1s;
  animation-delay: 0.2s;
  height: 85%;
  left: 25%;
}
@keyframes appear {
  0% {
    opacity: 0;
    left: 60%;
  }
  100% {
    opacity: 1;
    left: 25%;
  }
}
.main .same-background .home .shape-bottom {
  position: absolute;
  bottom: -1%;
  left: 0;
  right: 0;
}
.main .counter-area {
  background-color: #fff;
  width: 100%;
  height: 230px;
  box-sizing: border-box;
  position: relative;
}
.main .counter-area .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 1100px;
  margin: auto;
}
.main .counter-area .content .counter {
  width: 18.5%;
}
.main .counter-area .content .counter h2 {
  font-size: 48px;
  text-transform: uppercase;
  color: #7c4fe0;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}
.main .counter-area .content .counter h5 {
  font-size: 20px;
  font-weight: 600;
  color: #212529;
  margin: 0;
  text-align: center;
}
.main .counter-area .content .border-box {
  height: 80px;
  width: 1px;
  border-right: 1px solid #c7c4c4;
  box-sizing: border-box;
}
.main .feature {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .feature .heading {
  height: 330px;
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .feature .heading .button {
  box-sizing: border-box;
  height: 40px;
  width: 220px;
  padding: 8px 24px;
  border-radius: 30px;
  box-shadow: 0px 3px 3px #e4e4e4;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.main .feature .heading .button .primary {
  color: #7c4fe0;
}
.main .feature .heading .button .primary .fa-lightbulb {
  padding-right: 1px;
}
.main .feature .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .feature .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .feature .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .feature .content {
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: fit-content;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .feature .content .image-box {
  position: relative;
  height: 204px;
  width: 254px;
  padding: 48px;
  box-shadow: 0px 5px 10px #e4e4e4;
  border-radius: 30px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .feature .content .image-box .feature-img {
  margin: 0 0 16px;
}
.main .feature .content .image-box .feature-img img {
  width: 20%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.main .feature .content .image-box h3 {
  margin: 0 0 8px;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}
.main .feature .content .image-box p {
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}
.main .feature .content .image-box:hover {
  box-shadow: 0px -6px 12px #e4e4e4;
  top: -1%;
}
.main .service-area {
  background-color: #f6f9fe;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .service-area .content {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main .service-area .content .text-left {
  width: 540px;
}
.main .service-area .content .text-left h2 {
  line-height: 1.4;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
}
.main .service-area .content .text-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main .service-area .content .text-left ul .single-service {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
}
.main .service-area .content .text-left ul .single-service .box {
  height: 54px;
  min-width: 54px;
  box-sizing: border-box;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}
.main .service-area .content .text-left ul .single-service .box i {
  font-size: 24px;
  color: #7c4fe0;
}
.main .service-area .content .text-left ul .single-service p {
  margin: 0;
  font-weight: 300;
  margin-left: 24px;
}
.main .service-area .content .text-left .button {
  height: fit-content;
  width: fit-content;
  padding: 18px 30px;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  background: linear-gradient(134deg, #4728dc, #8230e7);
}
.main .service-area .content .text-left .button a {
  text-decoration: none;
  color: #fff;
}
.main .service-area .content .img-right {
  position: relative;
  left: 8%;
}
.main .service-area .content .img-right img {
  width: 85%;
}
.main .discover-area {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .discover-area .content {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main .discover-area .content .img-left {
  position: relative;
}
.main .discover-area .content .img-left img {
  width: 85%;
}
.main .discover-area .content .text-right {
  width: 540px;
}
.main .discover-area .content .text-right h2 {
  line-height: 1.4;
  font-size: 48px;
  margin: 0 0;
  font-weight: 600;
}
.main .discover-area .content .text-right p {
  padding: 16px 0 24px;
  margin: 0;
}
.main .discover-area .content .text-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main .discover-area .content .text-right ul .single-service {
  display: flex;
  flex-direction: row;
  padding: 4px 0;
}
.main .discover-area .content .text-right ul .single-service .box .fa-check {
  color: #7c4fe0;
}
.main .discover-area .content .text-right ul .single-service p {
  padding: 0 0 0 16px;
  font-weight: 300;
}
.main .discover-area .content .text-right .icon-box {
  margin: 16px 0 0;
  display: flex;
  flex-direction: row;
}
.main .discover-area .content .text-right .icon-box .icon {
  height: 54px;
  width: 54px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}
.main .discover-area .content .text-right .icon-box .icon .fas {
  color: #7c4fe0;
  font-size: 26px;
}
.main .discover-area .content .text-right .icon-box .center-icon {
  margin: 0 16px;
}
.main .work-area {
  background: linear-gradient(134deg, #5135de, #8c3de9);
  width: 100%;
  height: 642px;
  display: flex;
  flex-direction: column;
}
.main .work-area .heading {
  width: 730px;
  margin: auto;
}
.main .work-area .heading .text-white {
  text-align: center;
  line-height: 1.4;
  font-size: 48px;
  margin: 0 0;
  color: #fff;
  font-weight: 600;
}
.main .work-area .heading p {
  padding: 16px 0 24px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.main .work-area .content {
  width: 1100px;
  margin: auto;
  display: flex;
}
.main .work-area .content .single-work {
  width: 350px;
  height: 260px;
  padding: 16px;
  box-sizing: border-box;
}
.main .work-area .content .single-work .work-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .work-area .content .single-work .work-icon img {
  width: 20%;
}
.main .work-area .content .single-work .text-white {
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 16px 0;
  color: #fff;
  font-weight: 500;
}
.main .work-area .content .single-work p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: #fff;
}
.main .work-area .content .angle-right {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
}
.main .work-area .content .angle-right i {
  font-size: 70px;
}
.main .screenshot {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .screenshot .heading {
  height: 270px;
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .screenshot .heading .button {
  box-sizing: border-box;
  height: 40px;
  width: 220px;
  padding: 8px 24px;
  border-radius: 30px;
  box-shadow: 0px 3px 3px #e4e4e4;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.main .screenshot .heading .button .primary {
  color: #7c4fe0;
}
.main .screenshot .heading .button .primary .fa-lightbulb {
  padding-right: 1px;
}
.main .screenshot .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .screenshot .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .screenshot .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .screenshot .content {
  position: relative;
  width: 1100px;
  margin: auto;
}
.main .screenshot .content .slides {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.main .screenshot .content .slides input {
  display: none;
}
.main .screenshot .content .slides img {
  transition: 1s;
  width: 25%;
}
.main .screenshot .content .slides #radio1:checked ~ .first {
  margin-left: 0;
}
.main .screenshot .content .slides #radio2:checked ~ .first {
  margin-left: -25%;
}
.main .screenshot .content .slides #radio3:checked ~ .first {
  margin-left: -50%;
}
.main .screenshot .content .slides #radio4:checked ~ .first {
  margin-left: -75%;
}
.main .screenshot .content .slides #radio5:checked ~ .first {
  margin-left: -100%;
}
.main .screenshot .content .nav-manual {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8%;
  z-index: 2;
  display: flex;
}
.main .screenshot .content .nav-manual label {
  margin-top: 18px;
  border: 2px solid #7c4fe0;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  background: transparent;
}
.main .screenshot .content .nav-manual label:not(:last-child) {
  margin-right: 10px;
}
.main .screenshot .content .nav-manual label:hover {
  background-color: #7c4fe0;
}
.main .review-area {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .review-area .heading {
  height: 330px;
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .review-area .heading .button {
  box-sizing: border-box;
  height: 40px;
  width: 230px;
  padding: 8px 24px;
  border-radius: 30px;
  box-shadow: 0px 3px 3px #e4e4e4;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
.main .review-area .heading .button .primary {
  color: #7c4fe0;
}
.main .review-area .heading .button .primary .fa-lightbulb {
  padding-right: 1px;
}
.main .review-area .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .review-area .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .review-area .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .review-area .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1120px;
  margin: auto;
}
.main .review-area .content .blog {
  width: 350px;
  margin: 0 15px;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
}
.main .review-area .content .blog .card-top {
  padding: 24px;
}
.main .review-area .content .blog .card-top .review-icon i {
  color: #ffc107;
}
.main .review-area .content .blog .card-top h4 {
  font-size: 20px;
  margin: 24px 0 16px;
  color: #7c4fe0;
}
.main .review-area .content .blog .card-top p {
  font-size: 16px;
  margin: 0;
  font-weight: 300;
}
.main .review-area .content .blog .card-bottom {
  background-color: #f6f9fe;
  padding: 24px;
  display: flex;
}
.main .review-area .content .blog .card-bottom img {
  width: 27%;
  border-radius: 50%;
}
.main .review-area .content .blog .card-bottom .reviewer-name {
  margin: 0 0 0 24px;
}
.main .review-area .content .blog .card-bottom .reviewer-name h5 {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 600;
}
.main .review-area .content .blog .card-bottom .reviewer-name h6 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}
.main .review-area .content .blog:hover {
  box-shadow: 0px 8px 15px 6px #e4e4e4;
}
.main .price-area {
  background-color: #f6f9fe;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .price-area .heading {
  height: 214px;
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .price-area .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .price-area .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .price-area .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .price-area .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 1100px;
  margin: auto;
  position: relative;
}
.main .price-area .content .price-box {
  position: relative;
  padding: 48px;
  background-color: #fff;
  height: fit-content;
  width: 254px;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  border-radius: 18px;
}
.main .price-area .content .price-box .plan-thumb {
  height: 80px;
  text-align: center;
}
.main .price-area .content .price-box .plan-thumb img {
  height: 100%;
}
.main .price-area .content .price-box h4 {
  text-transform: uppercase;
  margin: 20px 0 0;
  font-size: 20px;
  font-weight: 600;
  color: #4e4e4e;
  text-align: center;
  letter-spacing: 2px;
}
.main .price-area .content .price-box h2 {
  color: #7c4fe0;
  text-align: center;
  font-size: 48px;
  margin: 16px 0;
}
.main .price-area .content .price-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 254px;
}
.main .price-area .content .price-box ul .border-top {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 16px 0;
  margin: 0;
  font-weight: 400;
  border-top: 1px solid #b8b2b2;
}
.main .price-area .content .price-box ul .border-bottom {
  border-bottom: 1px solid #b8b2b2;
}
.main .price-area .content .price-box .position-absolute {
  margin: 24px 0 0;
  padding: 18px 30px;
  height: fit-content;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(134deg, #4728dc, #8230e7);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6%;
}
.main .price-area .content .left {
  left: 3%;
  animation-name: appear-from-left;
  animation-duration: 1s;
}
.main .price-area .content .right {
  left: -3%;
  animation-name: appear-from-right;
  animation-duration: 1s;
}
@keyframes appear-from-left {
  0% {
    opacity: 0;
    left: -30%;
  }
  100% {
    opacity: 1;
    left: 3%;
  }
}
@keyframes appear-from-right {
  0% {
    opacity: 0;
    left: 30%;
  }
  100% {
    opacity: 1;
    left: -3%;
  }
}
.main .price-area .question {
  width: 1100px;
  margin: auto;
  text-align: center;
}
.main .price-area .question p {
  margin: 0;
  padding: 84px 0 0;
  font-size: 16px;
  color: #212529;
  font-weight: 500;
}
.main .price-area .question p a {
  color: #212529;
}
.main .faq-area {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .faq-area .heading {
  height: 214px;
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .faq-area .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .faq-area .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .faq-area .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .faq-area .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  margin: auto;
}
.main .faq-area .content .left {
  width: calc(50% - 15px);
  padding-right: 15px;
}
.main .faq-area .content .right {
  width: calc(50% - 15px);
  padding-left: 15px;
}
.main .faq-area .content h5 {
  font-size: 16px;
  padding: 16px 0;
  font-weight: 600;
  margin: 0;
}
.main .faq-area .content p {
  font-size: 16px;
  padding: 16px 0;
  font-weight: 400;
  margin: 0;
}
.main .faq-area .question {
  width: 1100px;
  margin: auto;
  text-align: center;
}
.main .faq-area .question p {
  margin: 0;
  padding: 24px 16px 0;
  font-size: 16px;
  color: #212529;
  font-weight: 500;
}
.main .faq-area .question p a {
  color: #212529;
}
.main .team-area {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .team-area .heading {
  height: 214px;
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .team-area .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .team-area .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .team-area .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .team-area .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  margin: auto;
}
.main .team-area .content .expert {
  position: relative;
  width: 285px;
  margin: 0 15px;
  box-sizing: border-box;
}
.main .team-area .content .expert img {
  border-radius: 12px;
  width: 100%;
  height: auto;
}
.main .team-area .content .expert .blur {
  position: absolute;
  width: 100%;
  height: 99%;
  background-color: #7c4fe0;
  left: 0%;
  top: 0;
  border-radius: 12px;
  z-index: 2;
  opacity: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .team-area .content .expert .blur h4 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 1px 0;
  font-weight: 500;
  opacity: 1;
}
.main .team-area .content .expert .blur h5 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 1px 0;
  font-weight: 400;
  opacity: 1;
}
.main .team-area .content .expert .blur .contact {
  padding: 5px 0;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
}
.main .team-area .content .expert .blur .contact i {
  padding: 0 8px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}
.main .team-area .content .expert .blur .contact i:hover {
  font-size: 24px;
}
.main .team-area .content .expert .blur:hover {
  opacity: 0.8;
}
.main .download-area {
  background-color: #f6f9fe;
  width: 100%;
  padding: 70px 0;
  box-sizing: border-box;
}
.main .download-area .heading {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .download-area .heading h2 {
  line-height: 1.4;
  width: 825px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 48px;
}
.main .download-area .heading p {
  width: 825px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 300;
}
.main .download-area .heading .button-group {
  margin: 30px 0 0;
  height: 62px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.main .download-area .heading .button-group img {
  height: 100%;
  background-color: #212529;
}
.main .download-area .heading .last {
  font-style: italic;
}
.main .sub-area {
  background-color: #fff;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .sub-area .heading {
  width: 1100px;
  margin: auto;
  display: flex;
  padding: 0 15px;
  flex-direction: column;
  align-items: center;
}
.main .sub-area .heading h2 {
  line-height: 1.4;
  width: 760px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 48px;
}
.main .sub-area .heading p {
  width: 760px;
  text-align: center;
  font-size: 16px;
  margin: 24px 0;
  font-weight: 300;
}
.main .sub-area .sub-form {
  width: 100%;
  display: flex;
  padding: 0 15px;
  flex-direction: column;
  align-items: center;
}
.main .sub-area .sub-form input {
  box-sizing: border-box;
  width: 730px;
  height: 60px;
  padding: 6px 20px;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  margin-bottom: 18px;
  text-align: center;
  font-family: "Poppins";
}
.main .sub-area .sub-form button {
  background-color: #7c4fe0;
  box-sizing: border-box;
  width: 730px;
  height: 60px;
  padding: 6px 20px;
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
  cursor: pointer;
}
.main .sub-area .sub-form button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}
.main .contact-area {
  background-color: #f6f9fe;
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main .contact-area .heading {
  height: 214px;
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .contact-area .heading h2 {
  line-height: 1.4;
  width: 730px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 0;
  font-size: 48px;
}
.main .contact-area .heading .border-box {
  height: 2px;
  width: 70px;
  border-top: 2px solid #7c4fe0;
}
.main .contact-area .heading p {
  width: 730px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 300;
}
.main .contact-area .content {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main .contact-area .content .text-left {
  width: 42%;
  padding: 0 15px;
  box-sizing: border-box;
}
.main .contact-area .content .text-left p {
  font-weight: 300;
  margin: 0 0 16px;
}
.main .contact-area .content .text-left .py {
  display: flex;
  flex-direction: row;
  padding: 8px 0;
}
.main .contact-area .content .text-left .py .social-icon {
  height: 45px;
  min-width: 45px;
  border-radius: 5px;
  background-color: #7c4fe0;
  margin: 0 16px 0 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .contact-area .content .text-left .py .social-icon i {
  font-size: 18px;
}
.main .contact-area .content .text-left .py a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0;
  font-weight: 300;
  text-decoration: none;
  color: #212529;
}
.main .contact-area .content .text-left .py a:hover {
  color: #7c4fe0;
}
.main .contact-area .content .contact-form-right {
  width: 50%;
}
.main .contact-area .content .contact-form-right input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  font-size: 14px;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  margin-bottom: 18px;
  font-family: "Poppins";
}
.main .contact-area .content .contact-form-right textarea {
  box-sizing: border-box;
  width: 100%;
  height: 160px;
  padding: 15px;
  font-size: 14px;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  margin-bottom: 18px;
  font-family: "Poppins";
}
.main .contact-area .content .contact-form-right button {
  background-color: #7c4fe0;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 6px 20px;
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
  cursor: pointer;
}
.main .contact-area .content .contact-form-right button i {
  padding-right: 10px;
}
.main .contact-area .content .contact-form-right button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}
.main .background-transparent {
  width: 100%;
  height: 550px;
  opacity: 0;
  z-index: -1;
}
.main footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}
.main footer .content {
  display: flex;
  margin: auto;
  padding: 150px 0 100px;
  flex-direction: row;
  justify-content: center;
}
.main footer .content .footer-items p {
  margin: 8px 0 16px;
  font-size: 16px;
  font-weight: 400;
}
.main footer .content .footer-items h3 {
  margin: 0 0 8px;
  font-size: 24px;
  font-weight: 600;
}
.main footer .content .footer-items ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main footer .content .footer-items ul li {
  padding: 8px 0;
}
.main footer .content .footer-items ul li a {
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  font-weight: 400;
  text-decoration: none;
  color: #565656;
}
.main footer .content .footer-items ul li a:hover {
  color: #7c4fe0;
}
.main footer .content .footer-items .install {
  margin-top: 30px;
}
.main footer .content .footer-items .install img {
  margin: 0 0 10px;
  width: 67%;
}
.main footer .content .box {
  width: 285px;
  height: 244px;
  padding: 0 15px;
  box-sizing: border-box;
}
.main footer .copyright-area {
  width: 100%;
}
.main footer .copyright-area .content {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
  padding: 24px 0;
  box-sizing: border-box;
  border-top: 1px solid #565656;
}
.main footer .copyright-area .content p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}
.main .arrow-up {
  height: 45px;
  width: 45px;
  background-color: #6d6e70;
  position: fixed;
  bottom: 3%;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-property: all;
  cursor: pointer;
}
.main .arrow-up i {
  color: #fff;
  font-size: 24px;
}

@media only screen and (max-width: 1200px) {
  .content {
    width: 960px !important;
  }
  .heading {
    width: 960px !important;
  }
  .main .feature .heading h2, .main .review-area .heading h2, .main .price-area .heading h2, .main .faq-area .heading h2, .main .team-area .heading h2, .main .download-area .heading h2, .main .sub-area .heading h2,
  .main .contact-area .heading h2 {
    width: 610px;
  }
  .main .feature .heading p, .main .review-area .heading p, .main .price-area .heading p, .main .faq-area .heading p, .main .team-area .heading p, .main .download-area .heading p, .main .sub-area .heading p,
  .main .contact-area .heading p {
    width: 610px;
  }
  .main .feature .content .image-box {
    height: 228px !important;
    width: 194px !important;
  }
  .main .work-area .heading {
    width: 610px !important;
  }
  .main .screenshot .heading {
    height: 370px;
  }
  .main .screenshot .heading h2 {
    width: 610px;
  }
  .main .screenshot .heading p {
    width: 610px;
  }
  .main .sub-area .sub-form input, .main .sub-area .sub-form button {
    width: 610px;
  }
}
@media only screen and (max-width: 1025px) {
  .screenshot .content .slides img {
    width: 33.3333333333% !important;
  }
  .screenshot .content .slides #radio1:checked ~ .first {
    margin-left: 0;
  }
  .screenshot .content .slides #radio2:checked ~ .first {
    margin-left: -33.3333333333% !important;
  }
  .screenshot .content .slides #radio3:checked ~ .first {
    margin-left: -66.6666666667% !important;
  }
  .screenshot .content .slides #radio4:checked ~ .first {
    margin-left: -100% !important;
  }
  .screenshot .content .slides #radio5:checked ~ .first {
    margin-left: -133.3333333333% !important;
  }
}
@media only screen and (max-width: 990px) {
  .content {
    width: 720px !important;
  }
  .content h2 {
    font-size: 36px !important;
  }
  .heading {
    width: 720px !important;
  }
  .heading h2 {
    font-size: 36px !important;
  }
  .heading p {
    font-size: 14px;
  }
  .main .home h1 {
    font-size: 48px !important;
  }
  .main .home img {
    width: 270px;
  }
  .main .counter-area h2 {
    font-size: 40px !important;
  }
  .main .feature .heading h2, .main .review-area .heading h2, .main .price-area .heading h2, .main .faq-area .heading h2, .main .team-area .heading h2, .main .download-area .heading h2, .main .sub-area .heading h2,
  .main .contact-area .heading h2 {
    width: 570px;
  }
  .main .feature .heading p, .main .review-area .heading p, .main .price-area .heading p, .main .faq-area .heading p, .main .team-area .heading p, .main .download-area .heading p, .main .sub-area .heading p,
  .main .contact-area .heading p {
    width: 570px;
  }
  .main .feature .content {
    display: flex;
  }
  .main .feature .content .image-box {
    height: 204px !important;
    width: 234px !important;
  }
  .main .feature .content .left {
    margin-bottom: 18px;
  }
  .main .service-area .content, .main .discover-area .content {
    flex-direction: column-reverse;
  }
  .main .service-area .text-left, .main .service-area .text-right, .main .discover-area .text-left, .main .discover-area .text-right {
    width: 100% !important;
  }
  .main .service-area .text-left p, .main .service-area .text-right p, .main .discover-area .text-left p, .main .discover-area .text-right p {
    font-size: 16px !important;
  }
  .main .service-area .img-right, .main .discover-area .img-right {
    display: none;
  }
  .main .service-area .img-left, .main .discover-area .img-left {
    width: 100% !important;
  }
  .main .service-area .img-left img, .main .discover-area .img-left img {
    width: 690px !important;
  }
  .main .review-area .blog {
    width: 280px !important;
    height: 400px !important;
  }
  .main .work-area .heading {
    width: 610px !important;
  }
  .main .screenshot .heading {
    height: 370px;
  }
  .main .screenshot .heading h2 {
    width: 610px;
  }
  .main .screenshot .heading p {
    width: 610px;
  }
  .main .sub-area .sub-form input, .main .sub-area .sub-form button {
    width: 610px;
  }
}

/*# sourceMappingURL=main.css.map */
