@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins";
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: aqua;
}

p, h3 {
  margin: 0;
}

.container {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  gap: 30px;
}
.container .child {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  width: 560px;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.container .child .img-thumbanail {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .child .img-thumbanail img {
  width: 500px;
}
.container .child .content {
  padding-bottom: 14px;
  width: 500px;
  margin: auto;
}
.container .child .content .status {
  font-size: 13px;
  background-color: green;
  width: 90px;
  height: 30px;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 14px;
}
.container .child .content .title {
  font-size: 24px;
}
.container .child .content .description {
  font-size: 14px;
}
.container .child .more-info {
  width: 500px;
  margin: auto;
}
.container .child .more-info .index {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container .child .more-info .index .userId {
  font-size: 12px;
  height: 30px;
  width: 30px;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 50%;
}
.container .child .more-info .publishedAt, .container .child .more-info .updateAt {
  font-size: 12px;
  color: rgb(89, 89, 89);
}
.container .child .more-info .updateAt {
  padding-bottom: 30px;
}
.container .child .function-btn {
  position: absolute;
  display: flex;
  gap: 15px;
  top: 3%;
  right: 5%;
}
.container .child .function-btn p {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
  display: none;
}
.container .child .function-btn .update-btn, .container .child .function-btn .delete-btn {
  display: flex;
  height: 30px;
  width: 50px;
  background-color: white;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-property: all;
}
.container .child .function-btn .update-btn {
  color: blue;
}
.container .child .function-btn .delete-btn {
  color: red;
}
.container .child .function-btn .update-btn:hover {
  width: 100px;
  cursor: pointer;
  background-color: blue;
  color: white;
}
.container .child .function-btn .update-btn:hover p {
  display: block;
}
.container .child .function-btn .delete-btn:hover {
  width: 100px;
  cursor: pointer;
  background-color: red;
  color: white;
}
.container .child .function-btn .delete-btn:hover p {
  display: block;
}

/*# sourceMappingURL=main.css.map */
