@charset "UTF-8";
p, h1, h2, h3 {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-y: auto;
  overflow-x: hidden;
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
body .container img {
  position: absolute;
}
body .container #logo {
  display: none;
}
body .container .top-right {
  width: 22%;
  top: 0;
  right: 0;
}
body .container .bottom-left {
  bottom: 0;
  left: 0;
  width: 30%;
}
body .container .center {
  width: 10%;
  left: 77%;
  top: 70%;
}
body .container .pop-up {
  position: relative;
  width: 720px;
  height: 500px;
  background-color: white;
  box-shadow: 0px 1px 13px 0px #cccccc;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .container .pop-up .banner {
  height: 100%;
}
body .container .pop-up .login-form {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 50%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .pop-up .login-form .container {
  display: flex;
  flex-direction: column;
  width: 70%;
}
body .container .pop-up .login-form .container .option {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}
body .container .pop-up .login-form .container .option .login, body .container .pop-up .login-form .container .option .register {
  width: 50%;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .pop-up .login-form .container .option .login {
  border-bottom: 2px solid #11698e;
}
body .container .pop-up .login-form .container .option p {
  font-weight: 600;
  font-size: 20px;
}
body .container .pop-up .login-form .container .em {
  width: 100%;
}
body .container .pop-up .login-form .container .em p {
  margin-bottom: 10px !important;
}
body .container .pop-up .login-form .container label {
  font-size: 14px;
  margin-bottom: 10px;
}
body .container .pop-up .login-form .container input {
  margin-bottom: 10px;
  width: 100%;
  height: 32px;
  padding-left: 6px;
  border-radius: 7px;
  border: 1px solid #a19f9f;
  font-size: 14px;
}
body .container .pop-up .login-form .container .pas {
  width: 100%;
  position: relative;
}
body .container .pop-up .login-form .container .pas i {
  position: absolute;
  top: 50%;
  right: 0;
  transition-duration: 0.2s;
}
body .container .pop-up .login-form .container .pas #open {
  cursor: pointer;
  display: none;
}
body .container .pop-up .login-form .container .pas #hidden {
  cursor: pointer;
}
body .container .pop-up .login-form .container .check-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  margin-bottom: 5px;
}
body .container .pop-up .login-form .container .check-box input {
  cursor: pointer;
  width: 16px;
  margin-right: 10px;
}
body .container .pop-up .login-form .container .check-box label {
  font-size: 12px;
}
body .container .pop-up .login-form .container .warning {
  width: 100%;
  font-size: 12px;
  margin-bottom: 10px;
  color: red;
  font-weight: 600;
}
body .container .pop-up .login-form .container button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: #00a6da;
  border: unset;
  border-radius: 30px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
body .container .pop-up .login-form .container button:active {
  background-color: white;
  color: #00a6da;
  box-shadow: 0px 1px 13px 0px #cccccc;
}
body .loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -555;
  background: transparent;
}
body .loading .lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
body .loading .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
body .loading .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
body .loading .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
body .loading .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
body .loading .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
body .loading .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
body .loading .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
body .loading .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
body .loading .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
body .loading .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
body .loading .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
body .loading .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
body .loading .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
body .loading .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
body .loading .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
body .loading .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
body .loading .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
body .loading .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .todo-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .todo-container img {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 150px;
}
body .todo-container .four-list-center {
  margin-top: 50px;
  height: 500px;
  width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body .todo-container .four-list-center .new-task {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #7c7c7c;
}
body .todo-container .four-list-center .parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
body .todo-container .four-list-center .parent .todo .status, body .todo-container .four-list-center .parent .todo .border {
  width: 300px;
  background-color: #00a6da;
  margin-bottom: 8px;
}
body .todo-container .four-list-center .parent .todo .status {
  padding: 0 12px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: space-between;
  box-sizing: border-box;
}
body .todo-container .four-list-center .parent .todo .status p {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}
body .todo-container .four-list-center .parent .todo .status .count {
  background-color: #00CDDA;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
body .todo-container .four-list-center .parent .todo .border {
  height: 2px;
}
body .todo-container .four-list-center .parent .todo .task-container {
  width: 300px;
  height: 450px;
  overflow-y: auto;
}
body .todo-container .four-list-center .parent .todo .task-container .task-content {
  width: 98%;
  height: fit-content;
  box-shadow: 0px 1px 13px 0px #cccccc;
  margin: 20px 0;
  border-radius: 8px;
  padding: 20px 14px;
  box-sizing: border-box;
  position: relative;
}
body .todo-container .four-list-center .parent .todo .task-container .task-content .icons {
  cursor: pointer;
  width: 55px;
  position: absolute;
  left: 78%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
}
body .todo-container .four-list-center .parent .todo .task-container .task-content .icons .fa-trash {
  gap: 5px;
}
body .todo-container .four-list-center .parent .todo .task-container .task-content .category, body .todo-container .four-list-center .parent .todo .task-container .task-content .title, body .todo-container .four-list-center .parent .todo .task-container .task-content .content {
  overflow: hidden;
  word-wrap: break-word;
}
body .todo-container .four-list-center .parent .todo .task-container .task-content .category {
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  color: #4d8eff;
  border-bottom: 1px solid #4d8eff;
  margin-bottom: 8px;
}
body .todo-container .four-list-center .parent .todo .task-container .task-content .title {
  width: 220px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
body .todo-container .four-list-center .parent .todo .task-container .task-content .border-child {
  width: 220px;
  border: 1px solid #dcdcdc;
  margin-bottom: 8px;
}
body .todo-container .four-list-center .parent .todo .task-container .task-content .content {
  font-size: 12px;
  margin-bottom: 8px;
  color: #202020;
}
body .todo-container .four-list-center .parent .todo .task-container .task-content .date-and-time {
  font-size: 12px;
  color: #202020;
  display: flex;
  align-items: center;
  gap: 10px;
}
body .todo-container .four-list-center .parent .todo .task-container::-webkit-scrollbar {
  width: 7px; /* Chiều rộng thanh cuộn */
}
body .todo-container .four-list-center .parent .todo .task-container::-webkit-scrollbar-track {
  background: rgba(176, 211, 235, 0); /* Màu nền của thanh cuộn */
}
body .todo-container .four-list-center .parent .todo .task-container::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
}
body .todo-container .four-list-center .parent .doing .status, body .todo-container .four-list-center .parent .doing .border {
  background-color: #e2d072;
}
body .todo-container .four-list-center .parent .doing .status .count {
  background-color: #dab700;
}
body .todo-container .four-list-center .parent .completed .status, body .todo-container .four-list-center .parent .completed .border {
  background-color: #3bc057;
}
body .todo-container .four-list-center .parent .completed .status .count {
  background-color: #69ce7e;
}
body .todo-container .four-list-center .parent .blocked .status, body .todo-container .four-list-center .parent .blocked .border {
  background-color: #e74c3c;
}
body .todo-container .four-list-center .parent .blocked .status .count {
  background-color: #e74c3c;
}
body .popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
body .popup-container .update, body .popup-container .new {
  width: 500px;
  height: fit-content;
  background: white;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
body .popup-container .update .title, body .popup-container .new .title {
  margin: 30px 0 40px;
  font-size: 22px;
  font-weight: 600;
  color: #4d8eff;
}
body .popup-container .update .input, body .popup-container .new .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .popup-container .update .input input, body .popup-container .new .input input {
  width: 350px;
  border-radius: 5px;
  box-sizing: border-box;
  height: 25px;
  margin-bottom: 10px;
  padding: 0 6px;
}
body .popup-container .update .input textarea, body .popup-container .new .input textarea {
  border-radius: 5px;
  width: 350px;
  height: 150px;
  box-sizing: border-box;
  padding: 6px;
  font-family: "Inter", sans-serif;
}
body .popup-container .update .selection, body .popup-container .new .selection {
  margin: 40px 0 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body .popup-container .update .selection button, body .popup-container .new .selection button {
  cursor: pointer;
  height: 30px;
  width: 70px;
  border: unset;
  border-radius: 30px;
  font-weight: 600;
}
body .popup-container .update .selection #save, body .popup-container .new .selection #save {
  background-color: #4d8eff;
  color: #ffd;
}
body .popup-container .update .selection #save:active, body .popup-container .new .selection #save:active {
  box-shadow: 0px 1px 13px 0px #cccccc;
}
body .popup-container .update .selection #cancel:active, body .popup-container .new .selection #cancel:active {
  box-shadow: 0px 1px 13px 0px #cccccc;
}
body .popup-container .update .selection #save {
  background-color: #69ce7e;
}
body .popup-container .option {
  margin: 10px 0;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 13px;
}
body .popup-container .warning {
  width: 500px;
  height: fit-content;
  background: white;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
body .popup-container .warning .title {
  margin: 20px 0 20px;
  font-size: 22px;
  font-weight: 600;
  color: #e74c3c;
}
body .popup-container .warning .selection {
  margin: 20px 0 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body .popup-container .warning .selection button {
  cursor: pointer;
  height: 30px;
  width: 70px;
  border: unset;
  border-radius: 30px;
  font-weight: 600;
}
body .popup-container .warning .selection #delete {
  background-color: #e74c3c;
  color: #ffd;
}
body .popup-container .warning .selection #delete:active {
  box-shadow: 0px 1px 13px 0px #cccccc;
}
body .popup-container .warning .selection #cancel:active {
  box-shadow: 0px 1px 13px 0px #cccccc;
}
body .hide {
  display: none;
}
body .dragging {
  opacity: 1 !important;
}

@media only screen and (max-width: 1450px) {
  body .todo-container .four-list-center {
    width: 1200px;
  }
  body .todo-container .four-list-center .parent {
    justify-content: space-around;
  }
  body .todo-container .four-list-center .parent .todo .status, body .todo-container .four-list-center .parent .todo .border {
    width: 250px;
  }
  body .todo-container .four-list-center .parent .todo .task-container {
    width: 250px;
  }
  body .todo-container .four-list-center .parent .todo .task-container .task-content {
    margin: 15px 0;
    padding: 15px 10px;
  }
}
@media only screen and (max-width: 1250px) {
  body {
    overflow-y: auto;
  }
  body .todo-container .four-list-center {
    width: 1000px;
  }
  body .todo-container .four-list-center .parent {
    gap: 15px;
  }
  body .todo-container .four-list-center .parent .todo .status, body .todo-container .four-list-center .parent .todo .border {
    width: 300px;
  }
  body .todo-container .four-list-center .parent .todo .task-container {
    width: 300px;
  }
  body .todo-container .four-list-center .parent .todo .task-container .task-content {
    margin: 15px 0;
    padding: 15px 10px;
  }
}
@media only screen and (max-width: 1050px) {
  body {
    overflow-y: auto;
  }
  body .todo-container .four-list-center {
    width: 800px;
  }
  body .todo-container .four-list-center .parent {
    gap: 15px;
  }
  body .todo-container .four-list-center .parent .todo .status, body .todo-container .four-list-center .parent .todo .border {
    width: 300px;
  }
  body .todo-container .four-list-center .parent .todo .task-container {
    width: 300px;
  }
  body .todo-container .four-list-center .parent .todo .task-container .task-content {
    margin: 15px 0;
    padding: 15px 10px;
  }
}
@media only screen and (max-width: 850px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  body .todo-container img {
    width: 100px;
  }
  body .todo-container .four-list-center {
    margin-top: 0;
    width: 600px;
  }
  body .todo-container .four-list-center .parent {
    gap: 30px;
  }
  body .todo-container .four-list-center .parent .todo .status, body .todo-container .four-list-center .parent .todo .border {
    width: 250px;
  }
  body .todo-container .four-list-center .parent .todo .task-container {
    width: 250px;
  }
  body .todo-container .four-list-center .parent .todo .task-container .task-content {
    margin: 15px 0;
    padding: 15px 10px;
  }
}
@media only screen and (max-width: 650px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  body .todo-container img {
    width: 100px;
  }
  body .todo-container .four-list-center {
    margin-top: 0;
    width: 400px;
  }
  body .todo-container .four-list-center .parent {
    gap: 30px;
  }
  body .todo-container .four-list-center .parent .todo .status, body .todo-container .four-list-center .parent .todo .border {
    width: 400px;
  }
  body .todo-container .four-list-center .parent .todo .task-container {
    width: 400px;
  }
  body .todo-container .four-list-center .parent .todo .task-container .task-content {
    margin: 15px 0;
    padding: 15px 10px;
  }
  body .popup-container .update, body .popup-container .new, body .popup-container .warning {
    width: 400px;
  }
}
@media only screen and (max-width: 450px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  body .todo-container img {
    width: 100px;
  }
  body .todo-container .four-list-center {
    margin-top: 0;
    width: 250px;
  }
  body .todo-container .four-list-center .parent {
    gap: 30px;
  }
  body .todo-container .four-list-center .parent .todo .status, body .todo-container .four-list-center .parent .todo .border {
    width: 250px;
  }
  body .todo-container .four-list-center .parent .todo .task-container {
    width: 250px;
  }
  body .todo-container .four-list-center .parent .todo .task-container .task-content {
    margin: 15px 0;
    padding: 15px 10px;
  }
  body .popup-container .update, body .popup-container .new, body .popup-container .warning {
    width: 300px;
  }
  body .popup-container .update .input input, body .popup-container .update .input textarea, body .popup-container .new .input input, body .popup-container .new .input textarea, body .popup-container .warning .input input, body .popup-container .warning .input textarea {
    width: 270px;
  }
  body .popup-container .option {
    width: 300px;
  }
}
@media only screen and (max-width: 740px) {
  body {
    overflow-x: hidden !important;
  }
  body .container .center {
    top: 85%;
  }
  body .container .pop-up {
    width: 600px;
    height: 400px;
  }
}
@media only screen and (max-width: 630px) {
  body {
    overflow-x: hidden !important;
  }
  body .container .pop-up {
    width: 550px;
    height: 370px;
  }
}
@media only screen and (max-width: 570px) {
  body {
    overflow-x: hidden !important;
  }
  body .container .center {
    top: 85%;
  }
  body .container .mobile-version {
    display: flex;
    flex-direction: column;
    align-items: center; /* căn giữa các phần tử theo chiều dọc */
    justify-content: flex-start; /* căn phần tử ở trên cùng của màn hình */
    height: 100vh;
  }
  body .container .mobile-version #logo {
    display: block;
    margin-top: 20px;
    width: 30%;
  }
  body .container .mobile-version .pop-up {
    margin-top: 180px;
    width: 400px;
    min-height: 370px;
  }
  body .container .mobile-version .pop-up .banner {
    display: none !important;
  }
  body .container .mobile-version .pop-up .login-form {
    width: 100%;
  }
}
@media only screen and (max-width: 440px) {
  body {
    overflow-x: hidden !important;
    overflow-y: scroll;
  }
  body .container .center {
    top: 85%;
  }
  body .container .mobile-version #logo {
    width: 35%;
  }
  body .container .mobile-version .pop-up {
    width: 300px;
  }
  body .container .mobile-version .pop-up .banner {
    display: none;
  }
  body .container .mobile-version .pop-up .login-form {
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  body {
    overflow-x: hidden !important;
    overflow-y: scroll;
  }
  body .container .center {
    top: 85%;
  }
  body .container .mobile-version #logo {
    width: 39%;
  }
  body .container .mobile-version .pop-up {
    width: 300px;
  }
  body .container .mobile-version .pop-up .banner {
    display: none;
  }
  body .container .mobile-version .pop-up .login-form {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  body {
    overflow-x: hidden !important;
    overflow-y: scroll;
  }
  body .container .center {
    top: 85%;
  }
  body .container .mobile-version #logo {
    width: 39%;
  }
  body .container .mobile-version .pop-up {
    width: 300px;
  }
  body .container .mobile-version .pop-up .banner {
    display: none;
  }
  body .container .mobile-version .pop-up .login-form {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
