.container {
    background-color: blue;
    height: 500px;
    width: 500px;
    display: inline-block;
}

.box1 {
    height: 100px;
    width: 100px;
    background-color: white;
    display: inline-block; /* Thêm dòng này để span trở thành một khối inline */
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: black;
    display: inline-block; /* Thêm dòng này để span trở thành một khối inline */
}
